<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>INSIDE CODE Tecnologia</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag "common", "general" %>
</head>
<body>
   <!-- inicio general -->
	<div id="general">

  <!--[if lt IE 7]>
  <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
    <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
    <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
      <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='AVISO!'/></div>
      <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
        <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>Voc&ecirc; est&aacute; usando um navegador desatualizado</div>
        <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>Para navegar melhor neste site, por favor, atualize seu navegador.</div>
      </div>
      <div style='width: 75px; float: left;'><a href='http://pt-br.www.mozilla.com/pt-BR/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
      <div style='width: 75px; float: left;'><a href='http://www.microsoft.com/downloads/details.aspx?FamilyID=341c2ad5-8c3d-4347-8c03-08cdecd8852b&DisplayLang=pt-br' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
      <div style='width: 73px; float: left;'><a href='http://www.apple.com/br/safari/download/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>
      <div style='float: left;'><a href='http://www.google.com/chrome?hl=pt-BR' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
    </div>
  </div>
  <![endif]-->

		<!-- inicio header -->
		<div id="header">

			<div id="logo"><a href="/"><img src="/images/logo.png" alt="INSIDE CODE Tecnologia"></a></div>

			<div id="menu">
				<div class="left">
					<%= create_tab :name => 'home', :link => "/", :title => 'Home'%>
					<%= create_tab :name => 'treinamentos', :link => treinamentos_path, :title => 'Treinamentos'%>
					<%= create_tab :name => 'contato', :link => contato_path, :title => 'Contato'%>
					<!--<div class="servicos"><a href="">Servi&ccedil;os</a></div>-->
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<!-- inicio content -->
		<div id="content">
			<%= yield %>
		</div>
		<!-- fim content -->
		
	</div>
    <!-- fim general -->

    <div id="footer">
		<div id="footerBox">
			<div id="footerText">
				<a href="/">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<!--<a href="/">Servi&ccedil;os</a>&nbsp;&nbsp;|&nbsp;&nbsp;-->
				<a href="<%= treinamentos_path %>">Treinamentos</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="<%= contato_path %>">Contato</a>
			</div>
			<div>
				<div class="footerAddress right">Rua Marechal Deodoro, 235 - 1&deg Andar - Sala 12<br/>S&atilde;o Jo&atilde;o da Boa Vista - SP - Brasil<br/>+55 19 3633-8184</div>
				<div class="footerWeb right"><a href="mailto:contato@insidecode.com.br">contato@insidecode.com.br</a></div>
				<div class="footerWeb right">Twitter <a href="http://twitter.com/insidecode" target="_blank">@insidecode</a></div>
				<!--
				<div class="footerFlags right">
					<a href="/"><img src="/images/br.gif" alt="Português" title="Português" /></a>

					<a href="/en"><img src="/images/us.gif" alt="English" title="English" /></a>
				</div>
				-->
				<div class="clear"></div>
			</div>
			<p class="footerMiniText">INSIDE CODE 2010 Todos os direitos reservados.</p>
		</div>
	</div>
</body>
</html>
